<button ng-click="loginFace()" style="padding:10px 70px 10px 70px; background:#b5b5b5; color:#000; display: table; margin:150px auto 50px auto;">LOGIN FACEBOOK</button>

<button ng-click="loginGoogle()" style="padding:10px 78px 10px 79px; background:#b5b5b5; color:#000; display: table; margin:50px auto 50px auto;">LOGIN GOOGLE</button>


    <p>UserInfo</p><br/>
    <img src="{{userInfo.picture}}" width="250"/><br/>
    <p>{{userInfo.given_name}}</p><br/>
    <p>{{userInfo.family_name}}</p><br/>
    <p>{{userInfo.email}}</p><br/>
    